.card-short-content__figure img {
  height: 100px;
  max-height: 100px;
}

.card-short-content__title {
  font-family: 'Gotham Black';
  font-size: px-to-rem(20px);
}

.the-content {
  font-family: 'Futura Md BT';
  font-size: px-to-rem(16px);
}
