/**
*
* Hero
*url('~@images/hero_bg.png') no-repeat fixed center center
*/
.hero {
  background:
    url('~@images/swiper-bg-filter.svg')no-repeat fixed center center,
    url('~@images/hero_bg.png') no-repeat fixed center center;
  background-size: cover, cover;
  height: 90vh;
}

@media (max-width: 640px) {
  .hero {
    background: url('~@images/hero-bg-mobile.png')no-repeat fixed center center;
    background-size: cover;
    height: 60vh;
  }
}
