/**
 *
 * Menu Main
 *
 */
.menu-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  > li + li {
    margin-left: px-to-rem(32px);
  }

  a {
    color: color('white');
    line-height: (18/16);
    padding: 0 20px;
    text-decoration: none;
  }
}
